<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Register</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

</head>

<body>

    <div class="container">

        <div class="form-box">

            <h1>
                🛡 Create Account
            </h1>

            <p>
                Behavioral IDS Registration
            </p>

            <form action="/register" method="POST">

                <input type="text" name="username" placeholder="Choose Username" required>

                <input type="password" name="password" placeholder="Choose Password" required>

                <button type="submit">
                    Register
                </button>

            </form>

            <div class="bottom-text">

                Already have an account?

                <a href="/">
                    Login
                </a>

            </div>

        </div>

    </div>

</body>

</html>